body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tangentbord {
    display: flex;
    gap: 10px;
}

.tangentbord div {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    
}

.ruta {
    border: 2px solid black;
}
